TEST_ENV=local

LOCAL_UI_BASE_URL=http://localhost:5173
LOCAL_API_BASE_URL=http://localhost:8080

QA_UI_BASE_URL=
QA_API_BASE_URL=

STAGE_UI_BASE_URL=
STAGE_API_BASE_URL=

TEST_USER_EMAIL=
TEST_USER_PASSWORD=

ADMIN_USER_EMAIL=
ADMIN_USER_PASSWORD=
